# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio cache/options
.vs/
*.user
*.userosscache
*.sln.docstates

# ReSharper cache
_ReSharper*/
*.[Rr]e[Ss]harper

# Build results
*.dll
*.exe
*.pdb
*.cache

# NuGet Packages
*.nupkg
packages/
